* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.bandeau {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

form {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton-connexion {
    background-color: #3a973d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.bouton-connexion:hover {
    background-color: #45a049;
}

fieldset {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: solid red thick;
}

legend {
    margin-left: 10px;
    font-weight: bold;
    font-size: 21px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.div1,
.div2 {
    margin-left: 10px;
    display: inline-block;
    width: 28%;
    font-size: 21px;
}

.div2 {
    margin-top: 10px;
}

input[type="text"] {
    width: 140%;
    height: 30px;
}

input[type="submit"] {
    font-size: 21px;
    background-color: darkorange;
    border-radius: 5px;
    border: solid darkorange medium;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    color: white;
    margin-bottom: 10px;
}