*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*choses qui contiennent des éléments*/
.bandeau{
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    align-items: center; /* align vertical*/
    justify-content: flex-end; /* align vertical*/
}

.bandeau > * { /*séparation entre le bandeau et ses éléments*/
    margin: 20px;
}

/*éléments eux-mêmes*/
.bouton{
    background-color: orange;
    color: black;
    border-radius: 5px;
    vertical-align: center;
    text-align: center;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: auto;
    height: auto;
}

.bouton:hover, .boutongauche:hover, .boutondroit:hover, input[type="submit"]:hover{
    background-color: #ffcc00;
    cursor: pointer;
}

.bandeautitle{
    font-size: xx-large;
    color: orange;
    font-family: helvetica;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 10px;
    margin-right: auto; /*sert à ramener le titre à gauche*/
    margin-left: -10px; /*sert à compenser l'écart trop grand entre le logo et le titre*/
}

.titrebandeau{
    font-size: xx-large;
    color: orange;
    font-family: helvetica;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    margin-right: 400px; /*sert à ramener le titre à gauche*/
    margin-left: -10px; /*sert à compenser l'écart trop grand entre le logo et le titre*/
}

.img{
    width: 80px;
    left: 0;
}

form {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    margin-left: 10px;
    font-weight: bold;
    font-size: 21px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

fieldset {
    margin: auto;
    border-radius: 10px;
    border: solid red thick;
}

.div1, .div2 {
    margin-left: 10px;
    display: inline-block;
    width: 28%;
    font-size: 21px;
    box-sizing: border-box;
}

.div2 {
    margin-top: 10px;
}

input[type="text"] {
    width: 140%;
    height: 30px;
}

input[type="submit"] {
    font-size: 21px;
    background-color: darkorange;
    border-radius: 5px;
    border: solid darkorange medium;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    color: white;
    margin-bottom: 10px;
}

/*les id commencent ici*/
#deuxboutons{
    margin-right: 0px; /*évite l'espacement pas égal si y'a 2 boutons dans le bandeau (les margin s'additionnent*/
}

.imagelogo {
    display: flex; /* centrer image au milieu */
    justify-content: center; 
    align-items: center; 
}

h1 { /* centrer le texte*/
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#boutongauche {
    position: absolute;
    top: 400px;
    left: 280px;
    font-size: 18px;
}

/*mettre le bouton bien à droite et gauche*/
#boutondroit {
    position: absolute;
    top: 400px;
    left: 980px;
    font-size: 18px;
}


h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}

.recherche {
    display: flex;
    justify-content: center; /* Centre le formulaire de recherche */
    margin: 20px 0;
}

.recherche input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px; /* Arrondit seulement les coins gauche */
}

.recherche button {
    padding: 12px 20px;
    border: none;
    border-radius: 0 5px 5px 0; /* Arrondit seulement les coins droit */
    background-color: #4CAF50;
    color: white;
}

p {
    display: flex;
    justify-content: center; /* Centre horizontalement dans le conteneur */
    height: 10vh; /* Utilisez une hauteur pour voir l'effet du centrage */
    align-items: center; /* Centre verticalement dans le conteneur */
    margin: 0; /* Supprime les marges par défaut */
}

#souscription {
    position: absolute;
    bottom: -100px;
    left: 650px;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: -5px;
}
