*{
    margin: 0;
    padding: 0;
}

.bouton {
    background-color: #3a973d;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 30px;

}

.bandeau{
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.bouton-connexion{
    background-color: #3a973d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.bouton-connexion:hover{
    background-color: #45a049;
}

/* Styles pour le contenu */
.contenu{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
