@import url("global.css");
@import url("bandeau.css");

h2 { 
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}

.recherche { 
    display: flex;
    justify-content: center; 
    margin: 20px 0;
}

.recherche input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px; 
}

.recherche button {
    padding: 12px 20px;
    border: none;
    border-radius: 0 5px 5px 0; 
    background-color: #4CAF50;
    color: white;
}

p { 
    display: flex;
    justify-content: center; 
    height: 10vh; 
    align-items: center; 
    margin: 0; 
}

#souscription { 
    position: absolute;
    top: 95%;
    left: 45%;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: -5px;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.profile img {
    width: 50px; 
    height: 50px; /* Définit une hauteur fixe pour les images de profil */
    border-radius: 50%; /* Arrondit les images de profil */
    margin-right: 10px; /* Ajoute un espacement à droite des images */
}

.profile span {
    font-weight: bold; /* Rend le nom d'utilisateur en gras */
}

.conteneur{
    position: relative;
}

#res {
    position: absolute; /* Positionne les résultats juste en dessous de la barre de recherche */
    left: 21%; /* Aligne les résultats à gauche de la barre de recherche */
    margin-top: -12px;
}

#utilisateurs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

