@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");
@import url("accueil.css");

.titre{
    display: flex;
    justify-content: space-between;
}

.boutonadmin{
    margin: auto;
    margin-top: 20px;
}

.encadre{
    border-radius: 2px;
    border: 1px solid;
    margin: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}

.encadreheader{ /*contient le titre ainsi que les boutons*/
    display: flex;
    justify-content: space-between;
}
