@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");
@import url("accueil.css");

/*titre et boutonadmin permettent de display sur la largeur les boutons*/
.titre{
    display: flex;
    justify-content: space-between;
}

.boutonadmin{
    margin: auto;
    margin-top: 20px;
}

.encadre{ /*encadré des signalements/bannissements (admin.js)*/
    border-radius: 2px;
    border: 1px solid;
    margin: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}

.encadreheader{ /*contient le titre ainsi que les boutons des signalements/bannissements (admin.js)*/
    display: flex;
    justify-content: space-between;
}

.boutonvue{ /*pour les boutons "voir profil abonné et non abonné" (admin.js)*/
    margin: 1%;
}

.vuescontainer{ /*conteneur des boutonvue pour les centrer (admin.js)*/
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

.conteneur { /*conteneur avec contenu centré (admin.js)*/
    display: flex;
    justify-content: center; 
    margin: 20px;
}

.redirectrecherche{ /*pour barre de recherche (admin.js)*/
    padding: 12px 20px;
    border: none;
    border-radius: 5px; 
    background-color: #4CAF50;
    color: white;
}
