/*fichier global à inclure*/
/*gestion du bandeau et de ses éléments*/

.Connexion-page {
    background-image: url('../fond.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Connexion-boite {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.legende {
    color: orange;
    text-align: center;
    margin-bottom: 20px;
}

.donnees {
    margin-bottom: 20px;
    margin-right: 20px;
}

.donnees label {
    color: orange;
    display: block;
}

.donnees input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffcc00;
}
