@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");


.image1 {
    width: 350px; /* Largeur souhaitée */
    height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions de l'image */
    margin-left: 20px;
    margin-bottom: 20px;
}

.image2 {
    width: 500px;
    height: auto;
    margin-left: 20px;
    
}

p { /*accueil.php*/
    display: flex;
    justify-content: center; /* Centre horizontalement dans le conteneur */
    height: 10vh; /* Utilisez une hauteur pour voir l'effet du centrage */
    align-items: center; /* Centre verticalement dans le conteneur */
    margin: 0; /* Supprime les marges par défaut */
}

#souscription { /*accueil.php*/
    position: absolute;
    top: 160%;
    left: 45%;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.text1 {
    position:absolute;
    top: 50%;
    left: 30%;
    text-align: center;
}

.text2 {
    position: absolute;
    left: 43%;
    bottom: -15%;
}

.temoi1 {
    text-align: center;
    margin-top: 20px;
}

.temoi2 {
    text-align: center;
    position: absolute;
    top: 120%;
    left: 40%;
}
