@import url("global.css");
@import url("bandeau.css");

.imagelogo {/*index.php*/
    display: flex; /* centrer image au milieu */
    justify-content: center; 
    align-items: center; 
}

h1 { /* centrer le texte index.php*/ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h2 { /*accueil.php*/
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}

p { /*accueil.php*/
    display: flex;
    justify-content: center; /* Centre horizontalement dans le conteneur */
    height: 10vh; /* Utilisez une hauteur pour voir l'effet du centrage */
    align-items: center; /* Centre verticalement dans le conteneur */
    margin: 0; /* Supprime les marges par défaut */
}

#boutongauche {/*index.php*/
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 18px;
}

/*mettre le bouton bien à droite et gauche*//*index.php*/
#boutondroit {
    position: absolute;
    top: 45%;
    left: 65%;
    font-size: 18px;
}