@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");

/* Prendre la totalité de la page */
.Connexion-page{
	height: auto;
}

/* Positionner la boîte */
.Connexion-boite {
    padding: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Mettre les noms des infos en orange */
.donnees {
    color: orange;
}

/* Que les inputs prennent toute la largeur disponibles restantes + éviter de trop serrer les infos*/
.donnees input:not([name='nom']):not([name='prenom']){
    width:100%;
    margin-top: 10px;
}

/* Gérer avec l'image */
.donnees input[name='nom'], .donnees input[name='prenom'] {
    width: calc(65%);
    margin-top: 10px;
}

/* Mettre l'image de profil dans un format standard */
#profil {
    float: left;
    top: 0;
    left: 0;
    width: 26%;
    height: 26%;
    margin-right: 20px;
}

.donnees label:not([for="date"]), .donnees select {
    width: 20.5%; /* Calcule la largeur pour que deux selects s'affichent côte à côte avec un petit espace entre eux */
    display: inline-block; /* Affiche les selects sur la même ligne */
    margin-right: 20px; /* Espacement entre les selects */
}

.conteneurflex{ /*boutons pour admins. crée une séparation entre ces boutons et les autres*/
    display: flex;
    justify-content: center;
}
