@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");

body, html {
    height: calc(100% - 50px);
    margin: 0;
}

.Connexion-page {
    height: 100%;
}

.donnees label {
    font-size: large;
    margin-bottom: 8px;
}
