@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");

.Connexion-page {
    width: auto;
}

.Connexion-boite {
    position: relative;
    padding: 20px;
    width: 40%;
}

#profil {
    float: left;
    top: 0;
    left: 0;
    width: 26%;
    height: 26%;
    margin-right: 20px;
}

.donnees{
    color: orange;
}

input.bouton{
    margin-left: 30%;
} 

input[name="reportbutton"]{
    position: absolute;
    right: 1.2%;
    bottom: 4%;
    padding: 0.5%;
}
