@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");

.Connexion-page {
    height: 86.4vh;
}

.Connexion-boite {
    padding: 40px;
}

.donnees label {
    margin-bottom: 5px;
}
