@import url("global.css");
@import url("bandeau.css");
@import url("forms.css");

.Connexion-boite {
    padding: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donnees {
    color: orange;
}

.donnees input:not([name='Nom']):not([name='Prenom']){
    width:100%;
    margin-top: 10px;
}

.donnees input[name='Nom'], .donnees input[name='Prenom'] {
    width: calc(66%);
    margin-top: 10px;
}

#profil {
    float: left;
    top: 0;
    left: 0;
    width: 26%;
    height: 26%;
    margin-right: 20px;
}

.donnees label:not([for="date"]), .donnees select {
    width: 21%; /* Calcule la largeur pour que deux selects s'affichent côte à côte avec un petit espace entre eux */
    display: inline-block; /* Affiche les selects sur la même ligne */
    margin-right: 20px; /* Espacement entre les selects */
}
